<main>
  <div>
    <h1>New Post</h1>
  </div>

  <%= form_with model: @post, url: user_posts_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :title, "Caption/Title"%><br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :text %><br>
      <%= f.text_field :text %>
    </div>
    <%= f.submit "Create"%>
  <% end %>
</main>